<head>
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/stylesheets/login.css" rel="stylesheet">
</head>
<body class="align-center">
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button class="btn btn-primary" type="submit" value="Login">Log Out</button>
</form>