<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>    
</head>
<body>
<div class="text-center">
<div class="pricing-header px-10 py-10 pt-md-5 pb-md-4 mx-auto text-center ">
    <h1 class="display-4">Wikipdia Analytics</h1>
</div>
	<h1>Login</h1>
	<form action="/login" method="POST">
  <div>
    <label>
	    <input type="text" id="email" name="email" class="form-control" placeholder="Email" required >
	</label>
  </div>
  <div>
    <label>
	    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
	</label>
  </div>
  <button class="btn btn-primary" type="submit" value="Login" id="submit">Sign in</button>
</form>
	<a href="/register">Register</a>	
</div>
