<!-- Footer -->
<div>
  <footer class="pt-4 my-md-20 border-top text-center">
    <div class="row">
      <div class="col-md">
        <small class="d-block mb-3 text-muted">&copy; USYD 2020_Semester1_COMP5347 Web Application Development
          GROUP_29</small>
      </div>
    </div>
  </footer>
</div>